@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;

.home{
    display: flex;
    flex-direction: column;
    margin: 1rem;

    @include tablet{
        max-width: 720px;
        margin: 0 auto;
    }

    @include desktop{
        max-width: 720px;
    }

    &__hero{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 400px;
        margin: 0 2rem;
        
        @include tablet{
            margin: 0;
        }
        &-left{
            display: flex;
            flex-direction: column;
        }
        &-content{
            color: white;
            font-size: 2rem;
            width: 120px;
            margin-bottom: 1rem;
        }

        &-img{
            height: 10rem;
            @include tablet{
                height: 50%;
                max-width: 100%;
            }
        }
    }
}