@use './partials/variables' as *;

*, *::after, *::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: $white;
}

@font-face{
  src: url('./assets/fonts/Karla-Regular.ttf');
  font-family: "Karla";
}

body{
  background: $black;
}